<div class="container margen">
  <h1>Editing Fotos Empresa</h1>

  <%= render 'form', fotos_empresa: @fotos_empresa %>

  <%= link_to 'Show', @fotos_empresa %> |
  <%= link_to 'Back', fotos_empresas_path %>
</div>
