<h2 class="text-center">CONTACTO</h2>
<div id="contacto" class="container-fluid bg-imagen">
  <div class="row">
    <div class="col-sm-5">
      <p>Contáctanos y te responderemos en un plazo de 24 horas.</p>
      <p><span class="glyphicon glyphicon-envelope"></span> megapartes@megapartes.com.bo</p>
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#central">Central</a></li>
        <li><a data-toggle="tab" href="#sucursal">Sucursal</a></li>
        <li><a data-toggle="tab" href="#cbba">Cbba</a></li>
      </ul>

      <div class="tab-content">
        <div id="central" class="tab-pane fade in active">
          <h3>CENTRAL</h3>
          <p><span class="glyphicon glyphicon-map-marker"></span> Av. Banzer, 7mo anillo</p>
          <p><span class="glyphicon glyphicon-phone-alt"></span> 33414500</p>
          <p><span class="glyphicon glyphicon-phone"></span> Jose Luis - 77005710</p>
          <p><span class="glyphicon glyphicon-phone"></span> Wilson F. - 690207002</p>
        </div>
        <div id="sucursal" class="tab-pane fade">
          <h3>SUCURSAL</h3>
          <p><span class="glyphicon glyphicon-map-marker"></span> 4to anillo, entre Banzer y Beni</p>
          <p><span class="glyphicon glyphicon-phone-alt"></span> 33454777</p>
          <p><span class="glyphicon glyphicon-phone"></span> Jhonny Bruno - 69015414</p>
          <p><span class="glyphicon glyphicon-phone"></span> Willy P. - 77804066</p>
        </div>
        <div id="cbba" class="tab-pane fade">
          <h3>COCHABAMBA</h3>
          <p><span class="glyphicon glyphicon-map-marker"></span> Av. Blanco Galindo, Km. 5 1/2</p>
          <p><span class="glyphicon glyphicon-phone-alt"></span> 44280062 - 4280063</p>
          <p><span class="glyphicon glyphicon-phone"></span> Diego P. - 77005715</p>
          <p><span class="glyphicon glyphicon-phone"></span> Ariel B. - 69003002</p>
          <p><span class="glyphicon glyphicon-phone"></span> Juan Carlos - 77440515</p>
        </div>
      </div>
    </div>

    <div class="col-sm-7 slideanim">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Nombre" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Comentario" rows="5"></textarea><br>
      <div class="row">
        <div class="col-sm-12 form-group">
          <button class="btn btn-default pull-right" type="submit">Enviar</button>
        </div>
      </div>
    </div>
  </div>
</div>
