<div id="productos" class="container-fluid text-center">
  <h2>PRODUCTOS</h2>
  <h4>Más de 15000 productos en nuestros stock.</h4>
  <br>
  <div class="row slideanim">
    <% @categories.each do |category| %>
      <div class="col-sm-4">
        <%= image_tag category.image.url, width:"50%" %>
        <h4><%= category.name %></h4>
        <p><%= category.description %></p>
      </div>
    <% end %>
  </div>
</div>
